body {
  margin: 0 auto;
  @import url("https://fonts.googleapis.com/css?family=Roboto:700");
}
body .section {
  text-align: center;
}
body h1 {
  font-size: 40px;
}
body header {
  background-image: url("../img/fondo.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .fp-tableCell {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
body header div.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 50px 200px;
  opacity: 0.8;
  border-radius: 50px;
}
body header div.contenedor img {
  height: auto;
}
body header div.contenedor p {
  color: #c96a97;
  font-size: 20px;
}
body #section-2 .examples-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body #section-2 .examples-container .image-container {
  flex-grow: 1;
}
body #section-2 .examples-container .image-container:nth-of-type(1) {
  margin-left: 300px;
}
body #section-2 .examples-container .image-container:nth-of-type(2) {
  margin-right: 300px;
}
body #section-3 .fp-tableCell {
  display: flex;
  flex-wrap: wrap;
}
body #section-3 .fp-tableCell .caja {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.8s;
}
body #section-3 .fp-tableCell .caja:hover, body #section-3 .fp-tableCell .caja.show {
  opacity: 1;
}
body #section-3 .fp-tableCell .caja .caja-interior {
  height: 70%;
  width: 70%;
  background-color: white;
  border-radius: 10px;
  box-shadow: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
body #section-4 .image-container {
  display: flex;
}
body #section-4 .image-container div {
  padding: 70px;
  flex-grow: 1;
}
body #section-4 .image-container div:nth-of-type(1) img {
  width: 400px;
}
body body {
  font-family: "Roboto", sans-serif;
  background-color: #FFD399;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  width: 50%;
}
@keyframes rotate {
  0% {
    transform: rotateX(-37.5deg) rotateY(45deg);
  }
  50% {
    transform: rotateX(-37.5deg) rotateY(405deg);
  }
  100% {
    transform: rotateX(-37.5deg) rotateY(405deg);
  }
}
body .cube,
body .cube * {
  position: absolute;
  width: 151px;
  height: 151px;
}
body .sides {
  animation: rotate 3s ease infinite;
  animation-delay: 0.8s;
  transform-style: preserve-3d;
  transform: rotateX(-37.5deg) rotateY(45deg);
}
body .cube .sides * {
  box-sizing: border-box;
  background-color: rgba(242, 119, 119, 0.5);
  border: 15px solid white;
}
body .cube .sides .top {
  animation: top-animation 3s ease infinite;
  animation-delay: 0ms;
  transform: rotateX(90deg) translateZ(150px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes top-animation {
  0% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(150px);
  }
  20% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(75px);
  }
  70% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(75px);
  }
  90% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(150px);
  }
  100% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(150px);
  }
}
body .cube .sides .bottom {
  animation: bottom-animation 3s ease infinite;
  animation-delay: 0ms;
  transform: rotateX(-90deg) translateZ(150px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes bottom-animation {
  0% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(150px);
  }
  20% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(75px);
  }
  70% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(75px);
  }
  90% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(150px);
  }
  100% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(150px);
  }
}
body .cube .sides .front {
  animation: front-animation 3s ease infinite;
  animation-delay: 100ms;
  transform: rotateY(0deg) translateZ(150px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes front-animation {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(150px);
  }
  20% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(75px);
  }
  70% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(75px);
  }
  90% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(150px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(150px);
  }
}
body .cube .sides .back {
  animation: back-animation 3s ease infinite;
  animation-delay: 100ms;
  transform: rotateY(-180deg) translateZ(150px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes back-animation {
  0% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(150px);
  }
  20% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(75px);
  }
  70% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(75px);
  }
  90% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(150px);
  }
  100% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(150px);
  }
}
body .cube .sides .left {
  animation: left-animation 3s ease infinite;
  animation-delay: 100ms;
  transform: rotateY(-90deg) translateZ(150px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes left-animation {
  0% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(150px);
  }
  20% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(75px);
  }
  70% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(75px);
  }
  90% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(150px);
  }
  100% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(150px);
  }
}
body .cube .sides .right {
  animation: right-animation 3s ease infinite;
  animation-delay: 100ms;
  transform: rotateY(90deg) translateZ(150px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes right-animation {
  0% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(150px);
  }
  20% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(75px);
  }
  70% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(75px);
  }
  90% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(150px);
  }
  100% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(150px);
  }
}
body .text {
  margin-top: 450px;
  color: #f27777;
  font-size: 1.5rem;
  width: 100%;
  font-weight: 600;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
