@import "./variables/colors";

body {
    margin: 0 auto;

    .section {
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    header {
        background-image: url("../img/fondo.jpg");
        display: flex;
        justify-content: center;
        align-items: center;

        .fp-tableCell {
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;
        }

        div.contenedor {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            padding: 50px 200px;
            opacity: 0.8;
            border-radius: 50px;

            img {
                height: auto;
            }

            p {
                color: $pinksass;
                font-size: 20px;
            }
        }


    }

    #section-2 {
        .examples-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .image-container {
                flex-grow: 1;

                &:nth-of-type(1) {
                    margin-left: 300px;
                }

                &:nth-of-type(2) {
                    margin-right: 300px;
                }
            }
        }
    }

    #section-3,
    #section-4 {
        .fp-tableCell {
            display: flex;
            flex-wrap: wrap;

            .caja {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.8s;

                &:hover,
                &.show {
                    opacity: 1;
                }

                .caja-interior {
                    height: 70%;
                    width: 70%;
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: black;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
                }

            }
        }
    }

    #section-5 {
        .image-container {
            display: flex;

            div {
                padding: 70px;
                flex-grow: 1;

                &:nth-of-type(1) {
                    img {
                        width: 400px;
                    }
                }
            }
        }
    }

    #section-7 {
        .fp-tableCell {
            display: flex;
        }
    }


    //CUBO

    @import url('https://fonts.googleapis.com/css?family=Roboto:700');
    $size: 250px;

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #FFD399;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
        width: 50%;
    }

    @keyframes rotate {
        0% {
            transform: rotateX(-37.5deg) rotateY(45deg);
        }

        50% {
            transform: rotateX(-37.5deg) rotateY(405deg);
        }

        100% {
            transform: rotateX(-37.5deg) rotateY(405deg);
        }
    }

    .cube,
    .cube * {
        position: absolute;
        width: $size + 1;
        height: $size + 1;
    }

    .sides {
        animation: rotate 3s ease infinite;
        animation-delay: .8s;
        transform-style: preserve-3d;
        transform: rotateX(-37.5deg) rotateY(45deg);
    }

    .cube .sides * {
        box-sizing: border-box;
        background-color: rgba(98, 228, 206, 0.5);
        border: $size / 10 solid white;
    }

    @mixin side($name, $rotate, $i) {
        .#{$name} {
            animation: #{$name}-animation 3s ease infinite;
            animation-delay: $i * 100ms;
            transform: #{$rotate} translateZ($size);
            animation-fill-mode: forwards;
            transform-origin: 50% 50%;
        }


        @keyframes #{$name}-animation {
            0% {
                opacity: 1;
                transform: #{$rotate} translateZ($size)
            }

            20% {
                opacity: 1;
                transform: #{$rotate} translateZ($size / 2)
            }

            70% {
                opacity: 1;
                transform: #{$rotate} translateZ($size / 2)
            }

            90% {
                opacity: 1;
                transform: #{$rotate} translateZ($size)
            }

            100% {
                opacity: 1;
                transform: #{$rotate} translateZ($size)
            }
        }
    }

    .cube .sides {
        @include side("top", rotateX(90deg), 0);
        @include side("bottom", rotateX(-90deg), 0);
        @include side("front", rotateY(0deg), 1);
        @include side("back", rotateY(-180deg), 1);
        @include side("left", rotateY(-90deg), 1);
        @include side("right", rotateY(90deg), 1);
    }

    .text {
        margin-top: $size * 3;
        color: white;
        font-size: 1.5rem;
        width: 100%;
        font-weight: 600;
        text-align: center;
    }
}