@import "./variables/colors";
html{font-size: 1px;}
body {
    margin: 0 auto;
    font-size: 20em;

    .section {
        text-align: center;
    }

    h1 {
        font-size: 40px;
    }

    header {
        background-image: url("../img/fondo.jpg");
        display: flex;
        justify-content: center;
        align-items: center;

        .fp-tableCell {
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;
        }

        div.contenedor {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            padding: 50px 200px;
            opacity: 0.8;
            border-radius: 50px;

            img {
                height: auto;
            }

            p {
                color: $pinksass;
                font-size: 20px;
            }
        }


    }

    #section-1 {

        p,
        a {
            font-size: 20px;
        }
    }

    #section-2 {
        .examples-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .image-container {
                flex-grow: 1;

                &:nth-of-type(1) {
                    margin-left: 300px;
                }

                &:nth-of-type(2) {
                    margin-right: 300px;
                }
            }
        }
    }

    #section-3,
    #section-4 {
        .fp-tableCell {
            display: flex;
            flex-wrap: wrap;

            .caja {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.8s;

                &:hover,
                &.show {
                    opacity: 1;
                }

                .caja-interior {
                    height: 70%;
                    width: 70%;
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: black;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
                }

            }
        }
    }

    #section-5 {
        .image-container {
            display: flex;

            div {
                padding: 70px;
                flex-grow: 1;

                &:nth-of-type(1) {
                    img {
                        width: 400px;
                    }
                }
            }
        }
    }

    #section-7 {
        font-size: 12px;
        .fp-tableCell {
            display: flex;
        }
    }


    //CUBO

    @import url('https://fonts.googleapis.com/css?family=Roboto:700');
    $size: 200px;

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #FFD399;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
        width: 50%;
    }

    @keyframes rotate {
        0% {
            transform: rotateX(-37.5deg) rotateY(45deg);
        }

        50% {
            transform: rotateX(-37.5deg) rotateY(405deg);
        }

        100% {
            transform: rotateX(-37.5deg) rotateY(405deg);
        }
    }

    .cube,
    .cube * {
        position: absolute;
        width: $size + 1;
        height: $size + 1;
    }

    .sides {
        animation: rotate 3s ease infinite;
        animation-delay: .8s;
        transform-style: preserve-3d;
        transform: rotateX(-37.5deg) rotateY(45deg);
    }

    .cube .sides * {
        box-sizing: border-box;
        background-color: rgba(98, 228, 206, 0.5);
        border: $size / 10 solid white;
    }

    @mixin side($name, $rotate, $i) {
        .#{$name} {
            animation: #{$name}-animation 3s ease infinite;
            animation-delay: $i * 100ms;
            transform: #{$rotate} translateZ($size);
            animation-fill-mode: forwards;
            transform-origin: 50% 50%;
        }


        @keyframes #{$name}-animation {
            0% {
                opacity: 1;
                transform: #{$rotate} translateZ($size)
            }

            20% {
                opacity: 1;
                transform: #{$rotate} translateZ($size / 2)
            }

            70% {
                opacity: 1;
                transform: #{$rotate} translateZ($size / 2)
            }

            90% {
                opacity: 1;
                transform: #{$rotate} translateZ($size)
            }

            100% {
                opacity: 1;
                transform: #{$rotate} translateZ($size)
            }
        }
    }

    .cube .sides {
        @include side("top", rotateX(90deg), 0);
        @include side("bottom", rotateX(-90deg), 0);
        @include side("front", rotateY(0deg), 1);
        @include side("back", rotateY(-180deg), 1);
        @include side("left", rotateY(-90deg), 1);
        @include side("right", rotateY(90deg), 1);
    }

    .text {
        margin-top: $size * 3;
        color: white;
        font-size: 24.5rem;
        width: 100%;
        font-weight: 600;
        text-align: center;
    }


    /*GRACIAS*/

    #section-10 {
        
        .fp-tableCell {
            margin: 0;
            font-family: 'Work Sans', sans-serif;
            font-size: 30rem;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .main {
                position: relative;
                display: flex;

                h1 {
                    margin: 0;
                }

                .marker,
                .r,
                .e1,
                .s1,
                .s2,
                .e2 {
                    animation-timing-function: cubic-bezier(0.15, -0.01, 0.58, 1);
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    will-change: transform;
                }

                .marker {
                    position: absolute;
                    top: 4rem;
                    left: -3rem;
                    height: 3rem;
                    width: 40rem;
                    background-color: black;
                    animation-name: marker;
                }

                .r {
                    margin-left: 1rem;
                    animation-name: r;
                }

                .e1 {
                    margin-left: 7rem;
                    animation-name: e1;
                }

                .s1 {
                    margin-left: 16rem;
                    animation-name: s1;
                }

                .s2 {
                    margin-left: 21rem;
                    animation-name: s2;
                }

                .e2 {
                    margin: 0 36rem 0 42rem;
                    animation-name: e2;
                }

                @keyframes r {

                    0%,
                    20% {
                        transform: translateX(0);
                    }

                    50%,
                    70% {
                        transform: translateX(35rem);
                    }
                }

                @keyframes e1 {

                    0%,
                    20% {
                        transform: translateX(0);
                    }

                    50%,
                    70% {
                        transform: translateX(75rem);
                    }
                }

                @keyframes s1 {

                    0%,
                    20% {
                        transform: translateX(0);
                    }

                    50%,
                    70% {
                        transform: translateX(81rem);
                    }
                }

                @keyframes s2 {

                    0%,
                    20% {
                        transform: translateX(0);
                    }

                    50%,
                    70% {
                        transform: translateX(71rem);
                    }
                }

                @keyframes e2 {

                    0%,
                    20% {
                        transform: translateX(0);
                    }

                    50%,
                    70% {
                        transform: translateX(34rem);
                    }
                }

                @keyframes marker {

                    0%,
                    20% {
                        transform: translateX(0);
                    }

                    50%,
                    70% {
                        transform: translateX(337rem);
                    }
                }
            }
        }
    }
}